<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/account.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Account Information</h1>
        <p>Email: <%= email %></p>
        <h2>Order History</h2>
        <% if (orders.length <= 0) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
            <ul class="orders">
                <% orders.forEach((order, index) => { %>
                    <li class="orders__item">
                        <h1>Order - # <%= order._id %></h1>
                        <ul class="orders__products">
                            <% order.products.forEach(p => { %>
                                <li class="orders__products-item">
                                    <img src="/<%= p.product.imageUrl %>" alt="Product Image">
                                    <div>
                                        <span>Name: <%= p.product.title %></span>
                                        <span>Quantity: <%= p.quantity %></span>
                                    </div>
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
</body>
</html>
