<div class="pagination">
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= currentPage - 1 %>">< Previous</a>
    <% } else { %>
        <a class="disabled" href="#"> < Previous</a>
    <% } %>

    <% for (let i = 1; i <= lastPage; i++) { %>
        <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>

    <% if (hasNextPage) { %>
        <a href="?page=<%= currentPage + 1 %>">Next ></a>
    <% } else { %>
        <a class="disabled" href="#">Next ></a>
    <% } %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
