<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/like-dislike-btn.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <script src="https://use.fontawesome.com/fe459689b4.js"></script>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        
        <%- include('../products/electricproduct.ejs') %>

        <%- include('../products/Fashion-and-Apparel.ejs') %>

        <%- include('../products/Books-and-Media.ejs') %>

        <%- include('../products/Home-and-Kitchen.ejs') %>
        
    </main>

    <%- include('../includes/end.ejs') %>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick slider dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- Define csrfToken -->
    <script>
        const csrfToken = "<%= csrfToken %>";
    </script>

    <!-- Your custom scripts -->
    <script src="/js/like.js"></script>
    <script src="/js/slider.js"></script>
</body>
</html>
